.aurora-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.aurora-root canvas {
  display: block;
  width: 100%;
  height: 100%;
}
